---
import ColorModeSwitcher from '@components/ColorModeSwitcher.astro';
import SearchInput from '@components/SearchInput.astro';

import { asset, url } from '@lib/helpers';
import { SITE_TITLE_SHORT } from '@lib/constants';

const user = Astro.locals.user as User;

const userInitials = (() => {
	const rgx = new RegExp(/(\p{L}{1})\p{L}+/, 'gu');

	const initialsRegex = [...user.name.matchAll(rgx)] || [];

	return ((initialsRegex.shift()?.[1] || '') + (initialsRegex.pop()?.[1] || '')).toUpperCase();
})();

const colours = [
	'#ef4444', // red-500
	'#f97316', // orange-500
	'#f59e0b', // amber-500
	'#eab308', // yellow-500
	'#84cc16', // lime-500
	'#22c55e', // green-500
	'#10b981', // emerald-500
	'#14b8a6', // teal-500
	'#06b6d4', // cyan-500
	'#0ea5e9', // sky-500
	'#3b82f6', // blue-500
	'#6366f1', // indigo-500
	'#8b5cf6', // violet-500
	'#a855f7', // purple-500
	'#d946ef', // fuchsia-500
	'#ec4899', // pink-500
	'#f43f5e', // rose-500
];

const userColors = (() => {
	const charCode = userInitials.charCodeAt(0) + userInitials.charCodeAt(1) || 0;

	return colours[charCode % colours.length];
})();
---

<nav
	class="fixed z-30 w-full border-b border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-800"
>
	<div class="px-3 py-3 lg:px-5 lg:pl-3">
		<div class="flex items-center justify-between">
			<div class="flex items-center justify-start">
				<button
					id="toggleSidebarMobile"
					aria-expanded="true"
					aria-controls="sidebar"
					class="cursor-pointer rounded p-2 text-gray-600 hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:ring-2 focus:ring-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:bg-gray-700 dark:focus:ring-gray-700 lg:hidden"
				>
					<svg
						id="toggleSidebarMobileHamburger"
						class="h-6 w-6"
						fill="currentColor"
						viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg"
						><path
							fill-rule="evenodd"
							d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
							clip-rule="evenodd"></path></svg
					>
					<svg
						id="toggleSidebarMobileClose"
						class="hidden h-6 w-6"
						fill="currentColor"
						viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg"
						><path
							fill-rule="evenodd"
							d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
							clip-rule="evenodd"></path></svg
					>
				</button>
				<a href="/" class="ml-2 flex md:mr-24">
					<img src={asset('images/logo.svg')} class="mr-3 h-8" alt="Logo" />
					<span
						class="self-center whitespace-nowrap text-xl font-semibold dark:text-white sm:text-2xl"
						>{SITE_TITLE_SHORT}</span
					>
				</a>

				<SearchInput />
			</div>

			<div class="flex items-center">
				<!-- Search mobile -->
				<button
					id="toggleSidebarMobileSearch"
					type="button"
					class="rounded-lg p-2 text-gray-500 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white lg:hidden"
				>
					<span class="sr-only">Search</span>
					<!-- Search icon -->
					<svg
						class="h-6 w-6"
						fill="currentColor"
						viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg"
						><path
							fill-rule="evenodd"
							d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
							clip-rule="evenodd"></path></svg
					>
				</button>

				<!-- Dropdown menu -->
				<div
					id="dropdownNavbar"
					class="z-10 hidden w-44 divide-y divide-gray-100 rounded-lg bg-white shadow dark:divide-gray-600 dark:bg-gray-700"
				>
					<ul
						class="py-2 text-sm text-gray-700 dark:text-gray-400"
						aria-labelledby="dropdownNavbarButton"
					>
						<li>
							<a
								href={url('u/settings')}
								class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
								>Settings</a
							>
						</li>
					</ul>
					<div class="py-2">
						<a
							href={url('u/logout')}
							class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
							>Sign out</a
						>
					</div>
				</div>

				<ColorModeSwitcher />

				<!-- Profile -->
				<div class="ml-3 flex items-center">
					<div>
						<button
							type="button"
							class="flex rounded-full bg-gray-800 text-sm focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
							id="user-menu-button-2"
							aria-expanded="false"
							data-dropdown-toggle="dropdown-2"
						>
							<span class="sr-only">Open user menu</span>
							<div
								style={{ backgroundColor: userColors }}
								class="relative inline-flex h-10 w-10 items-center justify-center overflow-hidden rounded-full"
							>
								<span class="font-medium text-neutral-100 dark:text-neutral-950">
									{userInitials}
								</span>
							</div>
						</button>
					</div>
					<!-- Dropdown menu -->
					<div
						class="z-50 my-4 hidden list-none divide-y divide-gray-100 rounded bg-white text-base shadow dark:divide-gray-600 dark:bg-gray-700"
						id="dropdown-2"
					>
						<div class="px-4 py-3" role="none">
							<p class="text-sm text-gray-900 dark:text-white" role="none">{user.name}</p>
							<p class="truncate text-sm font-medium text-gray-900 dark:text-gray-300" role="none">
								{user.email}
							</p>
						</div>
						<ul class="py-1" role="none">
							<li>
								<a
									href={url('u/settings')}
									class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
									role="menuitem">Settings</a
								>
							</li>
							<li>
								<a
									href={url('u/logout')}
									class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white"
									role="menuitem">Sign out</a
								>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
